h1
{
    color: red;
}
#first p
{
    color: darkgoldenrod
    ;}

    #second p
    {
        color: darkgreen;
    }
    #heading
    {
        color: rgb(136, 42, 165);
    }
    .heading_22
    {
        color: chocolate;
    }
    p
    {
        color: cyan;
    }
    article
    {
        color: darkgreen;
    }